.header {
  background-color: #121926;
  padding: 20px 15px 10px;
  padding-top: 10px;
  position: sticky;
  top: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.header-left {
  padding-bottom: 7px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left > img {
  margin-left: 20px;
}

.header-left > i {
  color: whitesmoke;
  margin-top: 6px;
}

.header-left > span {
  padding: 20px 15px 20px;
  margin-top: 6px;
  color: #ffffffcc;
}

.kids {
  margin-top: 10px;
  margin-right: 5px;
}

.header-right > i {
  margin-left: -15px;
  color: #5a6268;
}

.header-right {
  padding: 20px 15px 20px;
}

.search > ::placeholder {
  color: white !important;
}

.header-right > span {
  padding: 20px 15px 20px;
  cursor: pointer;
  font-size: 16px;
  color: #ffffffcc;
  font-weight: 400;
}

.header-right > button {
  background-color: #1f80e0;
  outline-width: 0;
  border: none;
  height: 24px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 800;
  color: #fff;
}

.header-right > span:hover {
  color: #1f80e0;
  transition: 0.5s;
}

.header-left > span:hover {
  color: #1f80e0;
  transition: 0.5s;
}
